* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif; 
    padding-top: 100px;
}


header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #ff6900; 
}


.container-centered {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;  
}


.nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #ff6900;  
}


.links-gender {
    display: flex;
    text-align: center; 
    width: 150px; 
}


header .nav-inner .links-gender a {
    text-decoration: none;   
    color: white;
    font-size: 1.2em;
}


.links-gender ul {
    display: flex;
    flex-direction: row;
    gap: 10px;  
}


.links-gender ul li {
    display: flex;
    align-items: center;  
    color: white;
   
}


.link-logo {
    display: flex;
    align-items: center;
    width: auto; 
    padding-top: 10px;
    padding-bottom: 10px; 
    height: 80px; 
}


.logo {
    width: 150px;
    height: auto;
    
}


.links-top-right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 150px;
    gap: 5px;
    color: white;
}


.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; 
    padding-top: 30px;  
}


main .card-row .card {
    width: calc(100% / 3 - 10px);
    position: relative; 
    margin-bottom: 50px;
}


img {
    width: 100%;
}


.card-price span {
    text-decoration: line-through;
}


.card-price strong {
    color: red;
}


main .card:hover {
    cursor: pointer;
}


main .card-row .card .images-container .icon-heart {
    position: absolute;
    right: 0;
    top: 10px;
    width: 1.5em;
    height: 1.5em;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    background-color: white;
    z-index: 1;
}


main .card-row .card .images-container .icon-heart:hover {
    color: red;
}


.discount-container {
    position: absolute;
    display: flex; 
    bottom: 150px;
    gap: 5px;
    left: 0;
}


.discount-container .discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: red;
    font-size: 0.9em;
    color: white;  
}


.discount-container .sostenibilità {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 20px;
    background-color: green;
    font-size: 0.9em;
    color: white;
}


main .card-row .card .images-container .image-hidden {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


main .card-row .card:hover .images-container .image-hidden {
    display: inline-block;
}


.price-red {
    color: red;
}

 
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 200px;  
}


footer {
    background-color: #1a1a1a;
    color: white;
    padding-top: 10px;
}


.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 20px;
    padding-bottom: 20px;
}


footer .footer-inner .footer-left {
    display: flex;
    flex-direction: column; 
}



footer .footer-inner .footer-left .privacy ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}


footer .footer-inner .footer-right {
    display: flex;
    align-items: center;
}


footer .footer-inner .footer-right .icon {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}


